.login {
	color: #94e513;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.login input {
	opacity: 0.8;
	color: #79c600;
	text-align: center;
	background-color: black;
}

.login input:focus {
	opacity: 0.8;
	color: #64a104;
	text-align: center;
	background-color: black;
}


.login-container {
    padding-top: 50%;
}